body {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-weight: 300;
}

#header {
  height: 140px;
  background: #ecf0f1;
}

#header h1{
  width: 307px;
  height: 60px;
  background: url(../img/logo.png);
  text-indent: -999em;
  font-size: 60px;
  margin-top: 40px;
  margin-bottom: 0;
  display: inline-block;
}

#spotlight {
  background: url(../img/spotlight-background.jpg) center no-repeat #000;
  height: 500px;
  border-bottom: 10px solid #c0392b;
}

#spotlight .wrapper {
  width: 1000px;
  position: relative;
  margin: 0 auto;
}

#spotlight h2 {
  display: inline-block;
  font-size:80px;
  margin-top: 100px;
  color: #FFF;
  font-weight: 100;
  text-shadow: 0px 0px 3px #555;
}

#spotlight h3 {
  font-size: 30px;
  margin-top: 20px;
  color: #FFF;
  font-weight: 100;
  text-shadow: 0px 0px 3px #555;
}

#spotlight a {
  display: inline-block;
  background: #c0392b;
  color: #FFF;
  padding: 15px 60px;
  font-size: 30px;
  text-decoration: none;
  margin-top: 60px;
  border-radius: 40px;
}

#plug, #socket {
  height: 450px;
  background-color: #fff;
  text-align: left;
}

#plug h2, #socket h2 {
  font-size:60px;
  margin-top: 70px;
  color: #c0392b;
  font-weight: 100;
}

#plug h3, #socket h3 {
  font-size: 25px;
  margin-top: 10px;
  color: #7f8c8d;
  font-weight: 100;
}

#plug ul, #socket ul {
  font-size: 18px;
  padding-left: 25px;
}

#plug span {
  display: block;
  margin-left: 20px;
  font-size: 14px;
}

.button {
  display: inline-block;
  background: #c0392b;
  color: #FFF;
  padding: 10px 20px;
  font-size: 20px;
  text-decoration: none;
  margin-top: 20px;
  border-radius: 30px;
}

#footer {
  height: 200px;
  background: #c0392b;
  color: #FFF;
  text-align: left;
}

#footer img {
  margin-top: 20px;
}

#footer .about {
  margin-top: 40px;
}

#footer p {
  font-size: 20px;
  padding-top: 0px;
  margin: 10px 0px;
}
